@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap'); 

:root{
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #fffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    height: 100vh;
    background-color: var(--background-color);
    /* padding: 2rem; */
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.header-content{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1280px;
    align-items: center;
    padding: 1rem;
}

.logo{
    color: var(--text-color);
    font-weight: bold;
    font-size: 2rem;
    gap: 0.625rem;
}

.logo-img{
    height: 1.575rem;
    width: 1.938rem;
}

.navbar{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    /* color: var(--gray); */
}

.nav-link{
    color: var(--gray);
    transform: 0.1s linear;
}

.nav-link:hover{
    color: var(--link-color);
}

.contact-button{
    background-color: var(--link-color);
    padding: 1rem;
    color: var(--light-gray);
    transform: 0.1s linear;
}

.contact-button:hover{
    background-color: var(--accent-color);
}

.content{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    /* text-align: center; */
}

.main-content{
    display: flex;
    max-width: 1280px;
    gap: 3rem;
}

.content-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    animation: slideFromLeft 1s linear forwards;
}

@keyframes slideFromLeft {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.intro{
    color: var(--accent-color);
}

.heading{
    font-size: 3.5rem;
    font-weight: bold;
}

.content-right{
    width: 50%;
}

.content-right img{
    height:40rem;
    border-radius: 2rem;
}

button{
    color: var(--light-gray);
    border-radius: 0.61rem;
}

.start-button{
    background-color: var(--primary-color);
    padding: 1rem;
    margin-right: 2rem;
}

.tour-button{
    background-color: var(--dark-gray);
    padding: 1rem;
}

.company-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.company-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding: 2rem;
    gap: 2rem;
    /* border: 1px solid var(--gray); */
    background-color: var(--light-gray);
    border-radius: 1rem;
}

.vector-img{
    height: 1.2rem;
    width: 1.2rem;
}

.cards-section{
    background-color: var(--light-gray);
}

.feature-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
    text-align: center;
    /* max-width: 1280px; */
}

.cards-section .feature-card .summary{
    max-width: 60%;
    color: var(--gray);
}

.card-list{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 20rem);
}

.card{
    padding: 2rem;
    background-color: var(--accent-color);
    /* align-self: center; */
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.svg-container{
    height: 3rem;
    width: 3rem;
    background-color: var(--light-gray);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img{
    /* height: 4rem; */
    /* padding: 9rem; */
    width: 2rem;
}

.aff{
    background-color: #FF6289;
}
.ind{
    background-color: #fcbf58;
}

.inv{
    background-color: #44bfc3;
}

.testimonial-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-bottom: 5rem;
}

.testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.test-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 20rem;
    border-radius: 1rem;
    border: 1px solid black;
    padding: 1rem;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.test-cards:hover{
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
    border: 2px blue solid;
}

.experience-section{
    font-size: small;
}

.avatar-section{
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar{
    height: 5rem;
    width: 5rem;
}

.profile{
    text-align: center;
}

.test-names{
    color: var(--primary-color);
    font-size: 1.3rem;
}

.position{
    font-size: 0.8rem;
    color: var(--gray);
}

.newsletter-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
    gap: 2rem;
    height: 40vh;
    max-width: 1280px;
    margin: 0 auto;
}

.newsletter-content{
    border-radius: 1rem;
    background-color: var(--light-gray);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 2rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.newsletter-left{
    width: 50%;
    height: 100%;
}

.newsletter-left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 1rem;
    border-bottom-left-radius:  1rem;
}

.newsletter-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 50%;
    height: 100%;
    padding: 2rem;
}

.email-info{
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.email-title{
    color: var(--primary-color);
    font-size: 2.8rem;
}

.email-content,
.term-condition{
    color: var(--gray);
}

.term-condition{
    font-size: small;
}

.term-condition a{
    text-decoration: underline;
}

.form-section .input-email{
    padding: .4rem;
}

.contact-button{
    background-color: var(--link-color);
    padding: .5rem;
    color: var(--light-gray);
    transform: 0.1s linear;
    border: none;
}