*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#user-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
}

#result-part{
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.result{
    background-color: #3e5947;
    padding: .2rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.circle{
    background: conic-gradient(#299f5d var(--progress-degree, 0%), #74937f 0%);
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}